<header>
    <h1>Inicio</h1>
</header>

<main>
    <h3 class="titulo">Productos</h3>
    <section class="container">
        {{!-- Uso de nomenclatura BEM (B de bloque, E de elemento y M de modificador)--}}
        <div class="products">
            <div class="products__list">
                <ul class="products__list__item" id="products-list"></ul>
            </div>
            <button class="boton-recarga" id="btn-refresh-products-list">Recargar Lista</button>
        </div>
    </section>
</main>

<script src="/api/public/js/products.js"></script>