<header>
    <h1>INICIO - TIEMPO REAL</h2>
</header>

<main>
    <section class="container-products-table">
        <h3>Productos</h3>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody id="products-table-rows"></tbody>
            </table>
        </div>
    </section>

    <section>
        <h3>Formulario de Productos</h3>
        <form id="products-form">
            <input type="text" name="name" placeholder="Nombre del producte">
            <textarea name="description" placeholder="Descripción del producte" rows="5"></textarea>
            <select name="category">
                <option value="LIQUIDO">LIQUIDO</option>
                <option value="SOLIDO">SOLIDO</option>
            </select>
            <span><input type="checkbox" name="availability">Disponibilidad del producto</span>
            <input type="file" name="file" accept=".png,.jpg">

            <input type="submit" value="Guardar" style="width: 100%">
        </form>
    </section>

    <section class="container-product-delete">
        <h3>Eliminación de Productos</h3>
        <div>
            <input type="text" id="input-product-id" placeholder="ID del Producte">
            <button id="btn-delete-product">Eliminar</button>
        </div>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/products_with_websocket.js"></script>