* {
    box-sizing: border-box;
}

h1 {
    color: brown;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo {
    text-align: center;
    font-size: 2rem;
}

.eliminado {
    text-align: center;
}

.boton-recarga {
    display: block;
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-recarga:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Efecto de agrandado al pasar el mouse */
}

.boton-recarga:active {
    background-color: #003f7f;
    transform: scale(0.95); /* Efecto de clic */
}

.input_clase {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

#products-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
  
.card:hover {
    transform: scale(1.05);
}
  
.card h3, .card p {
    margin: 5px 0;
}

.error-message{
    font-size: 1.5rem;
    text-align: center;
    color: #0056b3;
}